<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>
    <h1>
        My Chat App
    </h1>
    <form action = "/chat">
        <div>
            <label>Enter user name: </label>
            <input type = "text" name = "user_name">
        </div>
        <div>
            <label>Enter user room id: </label>
            <input type = "text" name = "chat_room_id">
        </div>
        <button type = "submit">Submit </button>
    </form>
</body>
</html>